<!doctype html>
<html>
   <body onload="showkeys()">
   <div id="table">
   </div>
<script type="text/javascript">
   function showkeys() {
  var xhttp; 
  if (str == "") {
    document.getElementById("txtHint").innerHTML = "";
    return;
  }
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    document.getElementById("table").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/view_keys_ajax", true);
  xhttp.send();
} 
</script>
   </body>
</html>